body {
  font-family: sans-serif;
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}


.mainContainer {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 40px;
}

aside {
  border: 2px solid black;
  padding: 16px;
}